.homepage {
    textAlign: center;
    fontFamily: Arial, sans-serif;
  }
  
  .welcome {
    fontSize: 2em;
    color: black;
    fontWeight: bold;
  }
  
  .servicesDisplayTitle {
    color: red;
    fontSize: 3em;
  }
  
  .bookApptButton {
    backgroundColor: red;
    color: white;
    padding: 5px 10px;
    marginTop: 10px;
  }
  
  .carDisplay {
    padding: 20px;
    borderRadius: 5px;
  }
  
  .carDisplayTitle {
    fontSize: 1.5em;
    color: red;
  }
  
  .featuredCarList {
    list-style: none;
    padding: 0;
    display: flex;
    justifyContent: space-between;
  }
  
  .featuredCarItem {
    textAlign: center;
    flex: 1;
  }
  
  .featuredCarImage {
    height: 220px;
    width: 340px;
    margin: 0 auto;
  }
  
  .searchButton {
    backgroundColor: red;
    color: white;
    padding: 5px 10px;
  }
  
  .servicesItem {
    marginLeft: 2%;
    marginRight: 2%;
    width: 30%;
    textAlign: center;
    display: inline-block;
    marginBottom: 20px;
  }
  
  .serviceImage {
    height: 200px;
    width: 300px;
    margin: 0 auto;
  }
  
  .price {
    color: red;
  }
  
  .footer {
    marginTop: 32px;
    width: 100%;
    backgroundColor: black;
    minHeight: 287px;
    maxWidth: 100%;
  }
  
  .vehicleName {
    color: black;
    textDecoration: none;
  }
  