.homepage {
  text-align: center;
  /* font-family: Arial, sans-serif; */
  min-height: 100vh;
}

.welcome {
  font-size: 2em;
  color: black;
  font-weight: bold;
}

.servicesDisplayTitle {
  color: red;
  font-size: 3em;
}

.bookApptButton {
  background-color: red;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
}

.carDisplayTitle {
  font-size: 1.5em;
  color: red;
}

.featuredCarList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.featuredCarItem {
  text-align: center;
  flex: 1;
}

.featuredCarImage {
  height: 220px;
  width: 340px;
  margin: 0 auto;
}

.searchButton {
  background-color: red;
  color: white;
  padding: 5px 10px;
}

.servicesItem {
  margin-left: 2%;
  margin-right: 2%;
  width: 30%;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}

.serviceImage {
  height: 200px;
  width: 300px;
  margin: 0 auto;
}

.price {
  color: red;
}

.footer {
  width: 100%;
  background-color: black;
  padding: 15px;
  margin-top: 100px;
}

.vehicleName {
  color: black;
  text-decoration: none;
}
