.homepage {
  text-align: center;
  min-height: 100vh;
}

.welcome {
  font-size: 2em;
  color: black;
  font-weight: bold;
}

.carDisplayTitle {
  font-size: 1.5em;
  color: red;
}

.featuredCarList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.featuredCarItem {
  text-align: center;
  flex: 1;
}

.featuredCarImage {
  position: relative; /* Ensure container is positioned */
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.searchButton {
  background-color: red;
  color: white;
  padding: 5px 10px;
  margin-bottom: 1rem;
}

.servicesItem {
  margin-left: 2%;
  margin-right: 2%;
  width: 30%;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}

.serviceImage {
  position: relative; /* Ensure container is positioned */
  height: 200px;
  width: 300px;
  margin: 0 auto;
}

.servicesDisplayTitle {
  color: red;
  text-align: center;
  font-size: 1.5em;
}

.price {
  color: red;
}

.bookApptButton {
  background-color: red;
  color: white;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.stars {
  top: 50%;
  left: 50%;
  font-size: 4rem; /* Increase the font size to make the stars larger */
}

.star {
  color: white;
}

.subtitle {
  margin-top: 20px; /* Adjust the margin as needed */
}

.subtitle h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: white;
  font-weight: bold;
}

.image-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
